body {
    background-color: rgb(255, 163, 217);
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #4A154B;
    font-size: 50px;
}

h2 {
    color: #ffffff;
    font-size: 28px;
    margin-top: 40px;
}

iframe {
    max-width: 90%;
    height: 315px;
    border-radius: 12px;
    margin: 10px;
}