iframe {
    width: 360px;
    height: 215px;
    border-radius: 12px;
    border: 2px solid #ff007f; /* Borda neon fixa no vídeo! */
    box-shadow: 0 0 10px #ff007f;
}

/* Quando passa o mouse, o cartão inteiro explode em brilho neon! */
.card-musica:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 0 20px #ff007f, 0 0 40px #00f0ff;
}